.iml
.project
.classpath
derby.log
common/build/
common/bin/
common/.settings/
server/build/
server/bin/
server/.settings/
clients/build/
clients/bin
clients/.settings
server/singularityDB
.gradle/2.9/
.gradle/
server/server.log
server/logs
server/logs/*
**/.settings/
**/build/
**/bin/
*/logs
clients/.dbeaver-data-sources.xml
.idea
.idea/*
# IntelliJ IDEA
*.iml

common/doc/
